<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/wwwroot/css/main.css" />
    <link rel="stylesheet" href="~/wwwroot/css/navigation.css" />
</head>
<body class="flex">

    <div class="main">

        <div class="navigation">
            <a href="/Home/Index" title="Главная">Главная</a>
            <a href="/Home/Order" title="Заказать талон">Заказать талон</a>
            <a href="/Home/Visits" title="Мои заказы">Мои заказы</a>
            <a href="" title="Контакты">Контакты</a>
        </div>

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

    </div>

</body>
</html>
