@{
    ViewData["Title"] = "Home Page";
}


<div class="content">
    <h1>Добро пожаловать на наш сайт</h1>
    <img src="~/wwwroot/policlinic.jpg">
    <p>
        На нашем сайте дейстует уникальная система оплаты услуг<br>
        Для полноценной работы необходимо оплатить следующие возможности:
        <ul>
            <li>Возможность чтения списка талон</li>
            <li>Возможность заказа нового талона </li>
            <li>Возможность удаления существующего талона</li>
            <li>Возможность модификации существующего талона</li>
        </ul>
        <br>
        Только сегодня действует акция при которой все 4 услуги можно приобрести за 1 у. е.
        <br>

        <a class="button" href="/Home/PayForToken" title="приобрести">Приобрести</a>
        <a class="button" href="/Home/Login" title="Войти">Войти</a>
    </p>
</div>

